@font-face {
  font-family: "Monogram";
  src: url("/monogram.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

svg g {
  cursor: pointer;
}

svg g {
  color: rgb(36, 32, 32);
}
svg g:hover {
  /* color: rgb(73, 73, 197); */
  color: rgb(209, 139, 10);
}

.playing {
  color: lightblue !important;
}

svg circle,
svg line {
  stroke: rgb(209, 139, 10);
}

svg text {
  font-family: "Monogram";
}

#tree {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

#controls {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
}

button {
  background-color: rgb(36, 32, 32);
  border: 2px solid rgb(209, 139, 10);
  border-radius: 7px;
  width: fit-content;
  height: 35px;
  color: rgb(209, 139, 10);
}

button:hover {
  background-color: rgb(209, 139, 10);
  border: 2px solid rgb(209, 139, 10);
  border-radius: 7px;
  width: fit-content;
  height: 35px;
  color: rgb(36, 32, 32);
}

button:active {
  transform: scale(0.95);
}
